@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #242424;*/
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.gradient-start-cyan-400 {
  @apply bg-gradient-to-r from-cyan-400
}

.gradient-start-sky-600 {
  @apply bg-gradient-to-r from-sky-600
}

.gradient-to-cyan-400 {
  @apply to-cyan-400
}

.gradient-start-amber-600 {
  @apply bg-gradient-to-r from-amber-600
}

.gradient-to-orange-600 {
  @apply to-orange-600
}

.gradient-start-cyan-600 {
  @apply bg-gradient-to-r from-cyan-600
}

.gradient-to-indigo-600 {
  @apply to-indigo-600
}

.gradient-start-indigo-600 {
  @apply bg-gradient-to-r from-indigo-600
}

.gradient-to-cyan-500 {
  @apply to-cyan-500
}

.gradient-start-emerald-400 {
  @apply bg-gradient-to-r from-emerald-400
}

.gradient-to-teal-500 {
  @apply to-teal-500
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
